{
  "extends": ["eslint:recommended"],
  "roles": {
  "no-console"  : 0,
  "no-alert"    : 0,
  "no-debugger" : 1
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "templateStrings": true
  }
}
