[credential]
  helper = cache --timeout=3600

[core]
  ui = never
	pager = delta
	excludesfile = ~/.gitignore
	editor = nvim
	hooksPath = ~/git/hooks

#[filter "media"]
#  clean = git-media-clean %f
#  smudge = git-media-smudge %f

[push]
  default = matching

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
    conflictstyle = zdiff3

[alias]
	co = checkout
	ci = commit
	st = status --branch --short
	br = branch
	hist = log --pretty=format:\\\"%h %ad | %s%d [%an]\\\" --graph --date=short
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	sl = log --all --branches --decorate --graph --oneline
	log = log --all --branches --graph

[user]
  name = sv.junic
  email = xxxxx

[diff]
  tool = vimdiff

[difftool]
  prompt = false


[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
  dark = true      # or light = true, or omit for auto-detection
  features = my-theme
	side-by-side = true

[delta "my-theme"]
  zero-style = "#C8C8C8"
  line-numbers-left-style = "#808080"
  line-numbers-right-style = "#808080"
  line-numbers-minus-style = "#FF8080"
  line-numbers-zero-style = "#A0A0A0"
  line-numbers-plus-style = "#80FF80"

  file-style = bold "#6CB6FF"
  file-decoration-style = "#6CB6FF"
  hunk-header-style = bold "#FFD580"
  hunk-header-decoration-style = "#666666"

  plus-style = syntax "#009900"
  minus-style = syntax "#990000"
