[[plugins]]
repo = 'mattn/emmet-vim'
on_ft= ['css','scss']
hook_source = '''
  let g:user_emmet_settings = {
        \ 'variables': {
        \ 'lang' : 'ja'
        \ }
        \}
  let g:user_emmet_leader_key='<C-E>'
  imap <C-L>    <C-E>,
  vmap <C-L>    <C-E>,

  " 全部のモードで動く
  let g:user_emmet_mode='a'

  let g:user_emmet_install_global = 0
'''

[[plugins]]
repo = 'digitaltoad/vim-pug'
on_ft= ['pug','jade']

[[plugins]]
repo = 'dNitro/vim-pug-complete'
on_ft= ['pug','jade']
hook_source = '''
let g:html5_event_handler_attributes_complete = 0 " Disable event-handler attributes
let g:html5_rdfa_attributes_complete = 0          " Disable RDFa attributes
let g:html5_microdata_attributes_complete = 0     " Disable microdata attributes
let g:html5_aria_attributes_complete = 0          " Disable WAI-ARIA attribute
'''

[[plugins]]
repo = 'hrsh7th/nvim-cmp'
hook_source = '''
lua <<EOF
  local cmp = require('cmp')
  cmp.setup({
    mapping = {
      ['<C-p>'] = cmp.mapping.select_prev_item(),
      ['<C-n>'] = cmp.mapping.select_next_item(),
      ['<C-d>'] = cmp.mapping.scroll_docs(-4),
      ['<C-f>'] = cmp.mapping.scroll_docs(4),
      ['<C-Space>'] = cmp.mapping.complete(),
      ['<C-e>'] = cmp.mapping.close(),
      ['<CR>'] = cmp.mapping.confirm {
        behavior = cmp.ConfirmBehavior.Replace,
        select = true,
      },
    },
    sources = {
      { name = 'nvim_lsp' },
      { name = 'buffer' },
      { name = 'path' },
    },
    window = {
      documentation = {
        winhighlight = 'Normal:CmpDocumentation',
      },
    },
    experimental = {
      ghost_text = true
    }
  })
EOF
'''

[[plugins]]
repo = 'hrsh7th/cmp-nvim-lsp'

[[plugins]]
repo = 'hrsh7th/cmp-buffer'

[[plugins]]
repo = 'hrsh7th/cmp-path'

[[plugins]]
repo = 'neovim/nvim-lspconfig'
on_ft = ['javascript', 'typescript', 'typescriptreact', 'javascriptreact', 'vue', 'html', 'css', 'json', 'astro', 'yaml']
depends = ['hrsh7th/cmp-nvim-lsp']
hook_source = '''
  lua << EOF
  -- Use new vim.lsp.config / vim.lsp.enable API (nvim 0.11+)
  -- LSPの機能をcmpに提供する設定
  local capabilities = require('cmp_nvim_lsp').default_capabilities()

  -- TypeScript/JavaScript
  vim.lsp.config('vtsls', {
    capabilities = capabilities,
    -- 単一ファイルでも動かしたいなら true（好みで）
    single_file_support = true,
  })
  vim.lsp.enable('vtsls')

  -- Vue
  vim.lsp.config('vue_ls', { capabilities = capabilities })
  vim.lsp.enable('vue_ls')

  -- HTML
  vim.lsp.config('html', { capabilities = capabilities })
  vim.lsp.enable('html')

  -- CSS
  vim.lsp.config('cssls', { capabilities = capabilities })
  vim.lsp.enable('cssls')

  -- JSON
  vim.lsp.config('jsonls', { capabilities = capabilities })
  vim.lsp.enable('jsonls')

  -- -- PHP
  -- vim.lsp.config('intelephense', { capabilities = capabilities })
  -- vim.lsp.enable('intelephense')

  -- Astro
  vim.lsp.config('astro', { capabilities = capabilities })
  vim.lsp.enable('astro')

  -- YAML
  vim.lsp.config('yamlls', {
    capabilities = capabilities,
    settings = {
      yaml = {
        validate = true,
        hover = true,
        completion = true,
        schemas = {
          ["https://json.schemastore.org/github-workflow.json"] = "/.github/workflows/*",
          ["https://json.schemastore.org/github-action.json"] = "/.github/actions/*",
        },
      }
    }
  })
  vim.lsp.enable('yamlls')

  -- キーマッピング
  local opts = { silent = true }
  vim.keymap.set('n', 'gd'       , vim.lsp.buf.definition     , opts)
  vim.keymap.set('n', 'gD'       , vim.lsp.buf.declaration    , opts)

  vim.keymap.set('n', 'gy'       , vim.lsp.buf.type_definition, opts)
  vim.keymap.set('n', 'gi'       , vim.lsp.buf.implementation , opts)
  vim.keymap.set('n', 'gr'       , vim.lsp.buf.references     , opts)
  vim.keymap.set('n', '<space>h' , vim.lsp.buf.hover          , opts)
  vim.keymap.set('n', '<space>rn', vim.lsp.buf.rename         , opts)
  vim.keymap.set('n', '<space>a' , vim.lsp.buf.code_action    , opts)
  vim.keymap.set('n', '<C-j>'    , vim.diagnostic.goto_next   , opts)
  vim.keymap.set('n', '<C-k>'    , vim.diagnostic.goto_prev   , opts)
  vim.keymap.set("n", "<space>e" , vim.diagnostic.open_float  , opts)
  vim.keymap.set('n', '<space>q' , vim.diagnostic.setloclist  , opts)

  -- 診断表示の設定
  vim.diagnostic.config({
    virtual_text = true,
    signs = true,
    underline = true,
    update_in_insert = false,
    severity_sort = true,
  })

  vim.lsp.handlers["textDocument/hover"] = vim.lsp.with(
    vim.lsp.handlers.hover, {
      border = { "┌", "─", "┐", "│", "┘", "─", "└", "│" }, -- 明示的に枠を指定
      focusable = false,
      max_width = 80,
      max_height = 20,
      winblend = 0, -- 透明度を無効化
      zindex = 50
    }
  )

EOF
'''
