## hook の名前         実行されるタイミング                            lazy OFF   lazy ON
## hook_add            プラグインが dein.vim によって追加されたとき    OK         OK
## hook_source         プラグインが読み込まれる直前                    NG         OK
## hook_post_source    プラグインが読み込まれた直後                    NG         OK
## hook_post_update    プラグインが更新された直後                      OK         OK
## hook_done_update    プラグイン全ての更新が終わった直後              OK         OK

[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'wsdjeg/dein-ui.vim'

[[plugins]]
repo = 'github/copilot.vim'

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
  nnoremap <Leader>r :QuickRun<CR>
  vmap <Leader>r :<C-U>QuickRun<CR>
'''

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'vim-scripts/YankRing.vim'
hook_add = '''
  nmap ,y [yankring]
  nnoremap <silent> [yankring] <Cmd>YRShow<CR>
'''

[[plugins]]
repo = 'vim-scripts/Align'

#[[plugins]]
#repo = 'Valloric/MatchTagAlways'
#on_ft = ['html', 'vue', 'typescript', 'javascript', 'astro']
#hook_add = '''
#  "let g:mta_use_matchparen_group = 1
#
#  let g:mta_filetypes = {
#      \ 'html' : 1,
#      \ 'xhtml' : 1,
#      \ 'xml' : 1,
#      \ 'javascript' : 1,
#      \ 'jsx' : 1,
#      \ 'vue' : 1,
#      \ 'typescript' : 1,
#      \ 'astro' : 1,
#      \}
#'''

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'andymass/vim-matchup'
on_event = 'BufRead'
hook_add = '''
  let g:matchup_matchparen_offscreen = {'method': 'popup'}
'''
