[[plugins]]
repo = 'mattn/emmet-vim'
on_ft= ['css','scss']
hook_source = '''
  let g:user_emmet_settings = {
        \ 'variables': {
        \ 'lang' : 'ja'
        \ }
        \}
  let g:user_emmet_leader_key='<C-E>'
  imap <C-L>    <C-E>,
  vmap <C-L>    <C-E>,

  " 全部のモードで動く
  let g:user_emmet_mode='a'

  let g:user_emmet_install_global = 0
'''

[[plugins]]
repo = 'digitaltoad/vim-pug'
on_ft= ['pug','jade']

[[plugins]]
repo = 'dNitro/vim-pug-complete'
on_ft= ['pug','jade']
hook_source = '''
let g:html5_event_handler_attributes_complete = 0 " Disable event-handler attributes
let g:html5_rdfa_attributes_complete = 0          " Disable RDFa attributes
let g:html5_microdata_attributes_complete = 0     " Disable microdata attributes
let g:html5_aria_attributes_complete = 0          " Disable WAI-ARIA attribute
'''
