## hook の名前         実行されるタイミング                            lazy OFF   lazy ON
## hook_add            プラグインが dein.vim によって追加されたとき    OK         OK
## hook_source         プラグインが読み込まれる直前                    NG         OK
## hook_post_source    プラグインが読み込まれた直後                    NG         OK
## hook_post_update    プラグインが更新された直後                      OK         OK
## hook_done_update    プラグイン全ての更新が終わった直後              OK         OK

[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'wsdjeg/dein-ui.vim'

[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
merged = 0
on_event = 'BufRead'
hook_post_update = 'TSUpdate'

[[plugins]]
repo = 'nvim-treesitter/playground'

[[plugins]]
repo = 'nvim-tree/nvim-web-devicons'
hook_post_source = '''
lua require('nvim-web-devicons').setup { default = true }
'''

[[plugins]]
repo = 'nvim-lua/plenary.nvim'

[[plugins]]
repo = 'nvim-telescope/telescope-ui-select.nvim'

[[plugins]]
repo  = 'nvim-telescope/telescope-fzf-native.nvim'
build = 'make'

[[plugins]]
repo = 'hrsh7th/nvim-cmp'
on_event = 'InsertEnter'
hook_add = '''
lua <<EOF
  local cmp = require('cmp')
  cmp.setup({
    mapping = {
      ['<C-p>'] = cmp.mapping.select_prev_item(),
      ['<C-n>'] = cmp.mapping.select_next_item(),
      ['<C-d>'] = cmp.mapping.scroll_docs(-4),
      ['<C-f>'] = cmp.mapping.scroll_docs(4),
      ['<C-Space>'] = cmp.mapping.complete(),
      ['<C-e>'] = cmp.mapping.close(),
      ['<CR>'] = cmp.mapping.confirm {
        behavior = cmp.ConfirmBehavior.Replace,
        select = true,
      },
    },
    sources = {
      { name = 'nvim_lsp' },
      { name = 'buffer' },
      { name = 'path' },
    },
    window = {
      documentation = {
        winhighlight = 'Normal:CmpDocumentation',
      },
    },
    experimental = {
      ghost_text = true
    }
  })
EOF
'''

[[plugins]]
repo = 'hrsh7th/cmp-nvim-lsp'
on_lua = ['cmp_nvim_lsp']

[[plugins]]
repo = 'hrsh7th/cmp-buffer'

[[plugins]]
repo = 'hrsh7th/cmp-path'

[[plugins]]
repo = 'nvim-telescope/telescope.nvim'
depends = ['nvim-lua/plenary.nvim','nvim-telescope/telescope-ui-select.nvim', 'nvim-telescope/telescope-fzf-native.nvim']
hook_add = '''
  "nmap ,f [telescope]
  "nnoremap <silent> [telescope]ff <cmd>Telescope find_files<cr>
  "nnoremap <silent> [telescope]fg <cmd>Telescope live_grep<cr>
  "nnoremap <silent> [telescope]fb <cmd>Telescope buffers<cr>
  "nnoremap <silent> [telescope]fh <cmd>Telescope help_tags<cr>
'''

[[plugins]]
repo = 'github/copilot.vim'

[[plugins]]
repo = 'CopilotC-Nvim/CopilotChat.nvim'
depends = ['github/copilot.vim', 'nvim-tree/nvim-web-devicons', 'nvim-lua/plenary.nvim', 'nvim-telescope/telescope.nvim']
branch = 'main'
hook_add = '''
  nmap ,cc [copilot_chat]
  nnoremap <silent> [copilot_chat]c <Cmd>CopilotChatOpen<CR>
  nnoremap <silent> [copilot_chat]p <Cmd>CopilotChatPrompts<CR>
'''

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
  nnoremap <Leader>r :QuickRun<CR>
  vmap <Leader>r :<C-U>QuickRun<CR>
'''

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'vim-scripts/YankRing.vim'
hook_add = '''
  nmap ,y [yankring]
  nnoremap <silent> [yankring] <Cmd>YRShow<CR>
'''

[[plugins]]
repo = 'vim-scripts/Align'

[[plugins]]
repo = 'Valloric/MatchTagAlways'
on_ft = ['html', 'vue', 'typescript', 'javascript', 'astro']
hook_add = '''
  "let g:mta_use_matchparen_group = 1

  let g:mta_filetypes = {
      \ 'html' : 1,
      \ 'xhtml' : 1,
      \ 'xml' : 1,
      \ 'javascript' : 1,
      \ 'jsx' : 1,
      \ 'vue' : 1,
      \ 'typescript' : 1,
      \ 'astro' : 1,
      \}
'''

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'stevearc/conform.nvim'
hook_add = '''
lua << EOF
local conform = require("conform")
conform.setup({
  formatters_by_ft = {
    typescript = { "prettier", lsp_format = "fallback" },
    javascript = { "prettier", lsp_format = "fallback" },
    astro = { "prettier", lsp_format = "fallback" },
    markdown = { "prettier", lsp_format = "fallback" },
    yaml = { "prettier", lsp_format = "fallback" },
    html = { "prettier", "markuplint", lsp_format = "fallback" },
    css = { "prettier", "stylelint", lsp_format = "fallback" },
    scss = { "prettier", "stylelint", lsp_format = "fallback" },
  },
  format_on_save = {
    timeout_ms = 2000,
    lsp_fallback = true,
    quiet = false,
  },
})
EOF
'''

[[plugins]]
repo = 'andymass/vim-matchup'
on_event = 'BufRead'
hook_add = '''
  let g:matchup_matchparen_offscreen = {'method': 'popup'}
'''

[[plugins]]
repo = 'ibhagwan/fzf-lua'

[[plugins]]
repo = 'nvim-tree/nvim-tree.lua'
depends = ['ibhagwan/fzf-lua']

[[plugins]]
repo = 'ggandor/leap.nvim'
hook_add = '''
nmap ,l [leap]
nnoremap <silent> [leap]lf <Plug>(leap-forward)
nnoremap <silent> [leap]lb <Plug>(leap-backward)
nnoremap <silent> [leap]lw <Plug>(leap-from-window)
'''
